@model Register.Models.Info

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Info</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="userId" class="control-label"></label>
                <input asp-for="userId" class="form-control" />
                <span asp-validation-for="userId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="userName" class="control-label"></label>
                <input asp-for="userName" class="form-control" />
                <span asp-validation-for="userName" class="text-danger"></span>
            </div>
            <div>
                <a asp-action="Checking" asp-route-Id="@Model.Id">change pw</a>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>

    </div>
</div>


<div>
    <a asp-action="Login">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
@if (ViewBag.nul == false)
{
    <script type="text/javascript">
        window.onload = function () {
            alert("null data exist~");
        };
    </script>
}
@if (ViewBag.exist == false)
{
    <script type="text/javascript">
        window.onload = function () {
            alert("@ViewBag.exiUser <-ID DUPLICATE");
        };
    </script>
}
