@model Register.Models.Info

@{
    ViewData["Title"] = "idcheck";
}

    <h1>idcheck</h1>


<div class="row">
    <div class="col-md-4">
        <form asp-action="idcheck">
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserPassword" class="control-label"></label>
                <input asp-for="UserPassword" class="form-control" />
                <span asp-validation-for="UserPassword" class="text-danger"></span>
            </div>
         
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>

    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
@if (ViewBag.nul == false)
{
    <script type="text/javascript">
        window.onload = function () {
            alert("id / pw not match");
        };
    </script>
}

